/*STYLE FOR MAIN PAGE*/

.mainmenuheader{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
}
.navbar-brand{
    font-size: 1rem;
}
.gametitlediv{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    padding-top: 100px;
    text-align: center;

}

.startbtn{
    display:block;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid black;
    position: center;

}
.startbtn:hover{
    background-color: #1F1D36;
    font-color: #fff
}
.start_button_link{
    text-decoration: none;
}
.button_section{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;



}







body{
    background-color: #142F43;
}
